# Can use dev or prod, changes some settings
#ENVIRONMENT=prod

# After server restarted all blacklisted and ignored clients will be forgiven
# Request count after client is ignored
#IGNORE_CLIENTS_AFTER=5
# Request count after client is blocket till next restart
#BLACKLIST_CLIENTS_AFTER=10
# Minutes after client stops beeing ignored
#FORGIVE_TIME=10
