html, body {
	height: 100%;
	margin: 0%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Russo One", serif;
	font-weight: 400;
	font-style: normal;
	color: #89023e;
}

header {
	display: flex;
	flex: 0 0 7%;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	background-color: #e88eed;
}

main {
	display: flex;
	flex: 1 1 90%;
	overflow: auto;
	background-color: #ffeef2;
}

footer {
	display: flex;
	flex: 0 0 3%;
    background-color: #e88eed;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.logo-container {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.links-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.links-container a{
	text-decoration: none;
	color: inherit;
}

.courses-container {
	display: flex;
	flex-direction: column;
}

.course-container {
	display: flex;
	align-items: flex-start;
}

.course-container-right {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.course-container img {
	max-width: 65%;
	max-height: 100%;
}

.course-container-right img {
	max-width: 65%;
	max-height: 100%;
}

.course-text-container {
	padding-left: 15px;
	padding-right: 15px;
}

.news-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.news {
	max-width: 50%;
    background-color: #ffd9da;
	margin-top: 15px;
	padding: 0 15px;
	border-radius: 15px;
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 100%;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 50%;
}

.helpme {
	color: #e88eed;
}
