html, body {
	height: 100%;
	margin: 0%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
	font-family: "Russo One", serif;
	font-weight: 400;
	font-style: normal;
}

header {
	display: flex;
	flex: 0 0 7%;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
	background-color: #571089;
	color: #fef5f6;
}

main {
	display: flex;
	flex: 1 1 90%;
	overflow: auto;
    background-color: #fef5f6;
}

footer {
	display: flex;
	flex: 0 0 3%;
    background-color: #34495e;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px;
}

.logo-container {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.links-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.links-container a{
	text-decoration: none;
	color: inherit;
}
