html, body {
	height: 100%;
	margin: 0%;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

header {
	display: flex;
	flex: 0 0 7%;
    background-color: #2c3e50;
	align-items: center;
}

main {
	display: flex;
	flex: 1 1 90%;
	overflow: auto;
    background-color: #ecf0f1;
}

footer {
	display: flex;
	flex: 0 0 3%;
    background-color: #34495e;
	align-items: center;
}

.logo-container {
	display: flex;
	align-items: center;
	text-decoration: none;
	color: inherit;
}

.links-container {
	display: flex;
	align-items: center;
	gap: 3rem;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.links-container a{
	text-decoration: none;
	color: inherit;
}
