{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="courses-container">
		<div class="course-container">
			<img src="static/img/course1.jpg" alt="Course">
			<div class="course-text-container">
				<h1>Первое поле</h1>
				<p>Очень красочное описание этого поля, с упоминанием красивой насыщенной зелени, ровных полянок, которые обслуживаются ежедневно. Описание сложности поля, оно простое и для начинающих игроков, даёт ровное пространство без особых препядствий</p>
			</div>
		</div>
		<div class="course-container-right">
			<div class="course-text-container">
				<h1>Второе поле</h1>
				<p>Это ещё более красочное, зелень не такая яркая, но это компенсируют живописные холмы, кустарники и множество предпядсвий повышающих сложность. Поле для самых проффесиональных игроков, которые хотят испытать себя и свои умения</p>
			</div>
			<img src="static/img/course2.jpg" alt="Course">
		</div>
		<div class="course-container">
			<img src="static/img/course3.jpg" alt="Course">
			<div class="course-text-container">
				<h1>Третье поле</h1>
				<p>Это для желающих отдохнуть, рядом с прудом, где всегда можно погреться на солнышке или даже снять лодку за дополнительную плату и насладится временем на воде с семьёй, близкими или друзьями. Тут можно было рассказать столько всего</p>
			</div>
		</div>
	</div>
{% endblock %}
