{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="courses-container">
		<div class="course-container">
			<img src="static/img/course1.jpg" alt="Course">
			<div class="course-text-container">
				<h1>course 1</h1>
				<p>text text text</p>
			</div>
		</div>
		<div class="course-container-right">
			<div class="course-text-container">
				<h1>course 1</h1>
				<p>text text text</p>
			</div>
			<img src="static/img/course2.jpg" alt="Course">
		</div>
		<div class="course-container">
			<img src="static/img/course3.jpg" alt="Course">
			<div class="course-text-container">
				<h1>course 1</h1>
				<p>text text text</p>
			</div>
		</div>
	</div>
{% endblock %}
