<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>
		<link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="static/css/style.css">
		<script src="static/js/script.js"></script>
		<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			<a href="/" class="logo-container">
				<img src="static/img/icon.png" alt="Logo" width="100" height="100">
				<h1>Golf club Glitter</h1>
			</a>
			<div class="links-container">
				<a href="contactus">Свяжитесь с нами</a>
				<a href="news">Что нового</a>
				<a href="about">О нас</a>
			</div>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<p>Copyright GlitterGolfClub 2025</p>
			<p class="helpme">Боже я не умею делать дизайны сайтов, хоть убейте</p>
			<p>Версия {{ env }} {{ version }}</p>
		</footer>
	</body>
</html>
