<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}{% endblock %}</title>

		<link rel="icon" href="{{ url_for('static', filename='img/favicon.ico')[1:] }}" type="image/x-icon">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')[1:] }}">
		<script src="{{ url_for('static', filename='js/script.js')[1:] }}"></script>

		<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
	</head>
	<body>
		<header>
			{% if env == 'dev' %}
			<a href="/dev" class="logo-container">
			{% else %}
			<a href="{{ url_for('main.index') }}" class="logo-container">
			{% endif %}
	   			<img src="{{ url_for('static', filename='img/icon.png')[1:] }}" alt="Logo" width="100" height="100">
	    		<h1>Golf club Glitter</h1>
			</a>
			<div class="links-container">
			    <a href="{{ url_for('main.contactus')[1:] }}">Свяжитесь с нами</a>
			    <a href="{{ url_for('main.news')[1:] }}">Что нового</a>
			    <a href="{{ url_for('main.about')[1:] }}">О нас</a>
			</div>
		</header>
		<main>
			{% block content %}{% endblock %}
		</main>
		<footer>
			<p>Copyright GlitterGolfClub 2025</p>
			<p class="helpme">Боже я не умею делать дизайны сайтов, хоть убейте</p>
			<p>Версия {{ env }} {{ version }}</p>
		</footer>
	</body>
</html>
