{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	<div class="news-container">
		<div class="news">
			<h1>Мы готовы!</h1>
			<p>Спустя долгое время подготовки мы наконец-то создали свой сайт и готовы предоставлять свои услуги ещё и онлайн! Всем, кто ожидал это знаменательное событие - огромное спасибо</p>
		</div>
		<div class="news">
			<h1>Ещё не вышли, но готовы давать бонусы!</h1>
			<p>В честь грядущего выхода в онлайн наш клуб предоставляет скидки на аренду и самое главное, это ещё не всё! Мы готовы дать особенные условия, если свяжитесь с нами в ближайшие 2 дня</p>
		</div>
	</div>
{% endblock %}
